body{
    background-color: rgb(0, 0, 0)
}

#male,
#female,
#Card,
#upi {
	display: none;
}
.gender,
.Method {
	height: 20px;

	padding: 4px;
	font-size: 15px;
	font-family: "Teko", sans-serif;
	color: #ff0000;
	letter-spacing: 2px;
	word-spacing: 5px;
}

.pop {
	margin-bottom: 8px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}
.pop b {
	padding: 10px;
	font-family: "Teko", sans-serif;
	color: #22577a;
}
.wrapper {
	background-color: #c7f9cc;
	width: 500px;
	margin: auto;
	border-radius: 15px;
	border: 1px solid #22577a;

	box-shadow: 0 0 10px #22577a;
}
h1 {
	font-family: "Teko", sans-serif;
	text-align: center;
	font-size: 300%;
	border: 2px dotted #22577a;
	border-radius: 15px;
	margin: 10px;
	color: #22577a;
}

.user input,
.address input,
.DOB,
.exp input {
	width: 45%;
	height: 20px;
	margin: 1%;
	padding: 4px;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
	font-family: "Teko", sans-serif;
	color: #22577a;
	letter-spacing: 2px;
	word-spacing: 5px;
	border-color: #22577a;
	background-color: aliceblue;
}
.DOB {
	width: 223px;
}
.b {
	font-family: "Teko", sans-serif;
	padding-left: 10px;
	font-size: 21px;
	color: #22577a;
	letter-spacing: 1px;
	word-break: 5px;
}
.amount,
.paynow,
.email input,
.caddress input,
.num input {
	width: 95%;
	height: 20px;
	margin: 1%;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
	font-family: "Teko", sans-serif;
	color: #22577a;
	letter-spacing: 2px;
	word-spacing: 5px;
	border-color: #22577a;
	background-color: aliceblue;
}
.pop label {
	width: 40px;
	height: 0px;
	padding-top: 1px;
	padding-bottom: 6px;
	padding-left: 35px;
	padding-right: 35px;
	background-color: aliceblue;
	margin: 2px;
	margin-top: 30px;
	text-align: center;
	border-radius: 10px;
	border: #22577a solid;
}
#male:checked + label,
#female:checked + label {
	width: 40px;
	height: 0px;
	padding-top: 1px;
	padding-bottom: 6px;
	padding-left: 35px;
	padding-right: 35px;
	background-color: #22577a;
	margin: 2px;
	color: aliceblue;
	margin-top: 30px;
	text-align: center;
	border-radius: 10px;
	border: #22577a solid;
	transition: 210ms;
}
.Method label {
	
	height: 0px;
	padding-top: 1px;
	padding-bottom: 6px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: aliceblue;
	margin: 2px;
	margin-top: 30px;
	text-align: center;
	border-radius: 10px;
	border: #22577a solid;
}
#Card:checked + label,
#upi:checked + label {
	
	background-color: #22577a;
	margin: 2px;
	margin-top: 30px;
	text-align: center;
	border-radius: 10px;
	border: #22577a solid;
	color: aliceblue;
	transition: 210ms;
}
.exp select {
	width: 45%;
	height: 32px;
	margin: 1%;
	padding: 4px;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
	font-family: "Teko", sans-serif;
	color: #22577a;
	letter-spacing: 2px;
	word-spacing: 5px;
	border-color: #22577a;
	background-color: aliceblue;
}
.paynow {
	height: 45px;
	font-size: 27px;
	color: aliceblue;
	background-color: #22577a;
	width: 98%;
}
.paynow:hover {
	background-color: #0969a8;
	cursor: pointer;
}
label:hover {
	cursor: pointer;
}
.copy{
	padding-left: 20px;
	color: #22577a;
	font-family: "Teko", sans-serif;
}